body{
  color: white;
  background-size: cover;
  background-image: url("https://jooinn.com/images/velvet-stage-curtain-5.jpg");
  background-repeat: no-repeat;
}

h1#marquee {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    text-align: center;
}

h2 {
  background-image: url("https://www.stockvault.net/data/2015/07/20/174861/preview16.jpg");
  background-size:contain;
  background-repeat: repeat-x;
}

